/* src/UserTable.css */
.table-container {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .styled-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .styled-table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  thead {
    background-color: #f4f4f4;
  }
  
  th {
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  

  /* users.css */

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
}

.modal-content h2 {
  margin: 0 0 20px;
}

.modal-content p {
  margin: 10px 0;
}

.modal-content label {
  display: block;
  margin: 10px 0;
}

.modal-content input {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
}

.modal-content button {
  margin: 5px;
  padding: 5px 10px;
}





.users-container {
  display: flex;
  flex-direction: row;
}

.users-content {
  margin-top: 60px; /* Adjust based on header height */
  margin-left: 220px; /* Adjust based on sidebar width */
  padding: 20px;
  width: calc(100% - 220px); /* Adjust width based on sidebar width */
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.users-content.collapsed {
  margin-left: 50px; /* Adjust based on collapsed sidebar width */
  width: calc(100% - 50px); /* Adjust width based on collapsed sidebar width */
}

/* Responsive Design */
@media (max-width: 767px) {
  .users-container {
    flex-direction: column;
  }

  .users-content {
    margin-left: 0;
    width: 100%;
  }

  .-content.collapsed {
    margin-left: 0;
    width: 100%;
  }
}

  

